<div style='margin-bottom:15px;'>Dear User,</div>
<div style='margin-bottom:15px;'>
  The demo period of your <a href="https://apps.facebook.com/ntwovcontest/contests/<%=@contest.id%>">contest</a> will expire in 2 days. Please let <%=mail_to 'media@n2v.com','us'%> know if you want to extend it.
</div>
<div style='margin-bottom:15px;'>Sincerly,</div>
<div>Photo Contest Team</div>